<h1 class="cover-heading">Проверка предложенного изменения</h1>

<style>
   table.tb { border-collapse: collapse; width:500px; }
   .tb th, .tb td { padding: 5px; border: solid 1px #777; }
   .tb th { background-color: lightblue;}
 </style>
<table class="tb", style="width: 100%">
  <tr>
    <th></th>
    <th>Название типа</th>
    <th>Цель типа</th>
    <th>PMAI-путь типа эксперимента</th>
    <% for (var i = 0; type_exp.vcond != null && i < type_exp.vcond.length; i+=2) { %>
      <th><%= type_exp.vcond[i]%>, <%= type_exp.vcond[i + 1]%></th>
    <% } %>
    <% for (var i = 0; type_exp.result != null && i < type_exp.result.length; i+=2) { %>
      <th><%= type_exp.result[i]%>, <%= type_exp.result[i + 1]%></th>
    <% } %>
    <th>Пользователь</th>
  </tr>
  <% if (journal.operation != 0) { %>
  <tr>
    <td>До изменения</td>
    <td><%= type_exp.name %></td>
    <td><%= type_exp.goal %></td>
    <td><%= JSON.stringify(type_exp.path_to_type) %></td>
    <% for (var i = 0; launch.vcond != null && i < launch.vcond.length; i++) { %>
      <td><%= launch.vcond[i] %></td>
    <% } %>
    <% for (var i = 0; launch.result != null && i < launch.result.length; i++) { %>
      <td><%= launch.result[i] %></td>
    <% } %>
    <td><%= creator %></td>
  </tr>
  <% } %>
  <% if (journal.operation != 2) { %>
  <tr>
    <td>После изменения</td>
    <td><%= type_exp.name %></td>
    <td><%= type_exp.goal %></td>
    <td><%= JSON.stringify(type_exp.path_to_type) %></td>
    <% for (var i = 0; new_launch.vcond != null && i < new_launch.vcond.length; i++) { %>
      <td><%= new_launch.vcond[i] %></td>
    <% } %>
    <% for (var i = 0; new_launch.result != null && i < new_launch.result.length; i++) { %>
      <td><%= new_launch.result[i] %></td>
    <% } %>
    <td><%= changer %></td>
  </tr>
  <% } %>
</table>

<% if (journal.state == 0) { %>
  <body>
    <div style="font-size:24px">Подтверждение изменений</div><br>
    <form action="/posted" method="post">
      <select name="status">
        <option value=1 selected>Подтвердить</option>
        <option value=2>Отклонить</option>
      </select> <br><br>
      <input type="submit" value="Перейти" />
    </form>
    <script>
      var form = document.querySelector("form");
      form.addEventListener("submit", event => {
          console.log(form.elements.value.value);
      });
    </script> 
  </body>
<% } %>