<head>
    <title>Новый запуск</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <form action="/new_launch/posted" method="post" encType="multipart/form-data">
        <div>Новый запуск</div><br>
        <% for (var i = 0; vcond != null && i < vcond.length; i += 2) { %>
            <label>Переменный параметр <%= vcond[i] %>, единицы измерения: <%= vcond[i + 1] %></label><br>
            <input name=<%="vcond"+i%> class="field"/><br><br>
        <% } %>
        <% for (var i = 0; result != null && i < result.length; i += 2) { %>
            <label>Результат <%= result[i] %>, единицы измерения: <%= result[i + 1] %></label><br>
            <input name=<%="result"+i%> class="field"/><br><br>
        <% } %>
        <label>Дополнительные файлы</label><br>
        <input type="file" name="gits" multiple><br><br>
        <input type="submit" value="Сохранить" />
    </form> 
    <script>
        var form = document.querySelector("form");
        form.addEventListener("submit", event => {
            console.log(form.elements.value.value);
        });
    </script> 
</body>